.fondo {
    -fx-background-image: url('../imagenes/backgroundAdmin.png'); /* Reemplaza con la ruta de tu imagen */
    -fx-background-size: cover; /* Ajusta la imagen para que cubra todo el elemento */
    -fx-background-repeat: no-repeat; /* Evita la repetición de la imagen */
}