
.boton {
    -fx-background-color: #270570; /* Color de fondo */
    -fx-text-fill: white; /* Color del texto */
	-fx-font-size: 1.2em;
    -fx-padding: 0 1em; /* Relleno interno */
    -fx-border-radius: 0.5em; /* Radio de borde */
   	-fx-border-width: 10px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 2);
    
}

/* Estilo al pasar el mouse sobre el botón */
.boton:hover {
    -fx-background-color: #34029F; /* Color de fondo al pasar el mouse */
    -fx-effect: innershadow(gaussian, #5321BD, 1em, 0.5, 0.0, 0.0);
}

/* Estilo al hacer clic en el botón */
.boton:pressed {
    -fx-background-color: #5321BD; /* Color de fondo al hacer clic */
}