.fechaBox{
	-fx-background-radius: 0 0.5em 0.5em 0;
	-fx-border-color: white;
}

.fechaBox .text-field{
	-fx-border-color: white;
}

.fechaBox .arrow-button{
	-fx-border-color: #270570;
	-fx-border-radius: 0 0.5em 0.5em 0;
}

.cbBox{
	
}