.ordinaryText{
	-fx-font-family: 'Heebo', sans-serif;
	-fx-text-fill: #270570;
	-fx-font-size: 1.3em;
	-fx-font-weight: bold;
	
}

.descriptionText{
	-fx-font-size: 1.2em;
	-fx-text-fill: darkblue;
}

.subTitle{
	-fx-font-size: 1.75em;
	-fx-text-fill: #270570;
	-fx-font-weight: bold;
}

.titulo{
	-fx-font-size: 2em;
	-fx-font-weight: bold;
	-fx-text-fill: #270570;
}